*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.wrapper{
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel{
  background-color: #373737;
  width: 80vw;
  max-width: 400px;
  height: 600px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
#generateButton{
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}